<!DOCTYPE html>
{% extends 'custa/base.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}

{% block body_block %}
    <div class="about_text">
    <p>
        Definition: CUSTA = customised pasta recipe
        We are passionate about delivering you the tastiest custom-made handcrafted pasta.
        Our determination and focus has made us Glasgow's leading custom pasta brand.
        Since the inauguration of our first store in Boyd Orr we have sold almost 1 million CUSTAs.
    </p>
    <p>
        CUSTAmising has never been easier.
        With thousands of possible ingredient combinations, the choice is yours
        - from preset to custom-made, from low-carb to desserts even!
        Halal and Kosher CUSTAs included.
    </p>
    <p>
        Want a new, special ingredient? - Send us an email and our CUSTA artisans will be on it.
        In a hurry? - Get your order ready for pickup or directly delivered to your door by our couriers.
    </p>
    </div>
    <ul class="collapsible popout">
              <li class="">
                <div class="collapsible-header" tabindex="0">
                  <i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body" style="">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.</span>
                </div>
              </li>
              <li class="">
                <div class="collapsible-header" tabindex="0">
                  <i class="material-icons">place</i>Second</div>
                <div class="collapsible-body" style="">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.</span>
                </div>
              </li>
              <li class="">
                <div class="collapsible-header" tabindex="0">
                  <i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body" style="">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.</span>
                </div>
              </li>
            </ul>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    </script>

{% endblock %}