<!DOCTYPE html>
{% extends 'custa/base.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}

{% block body_block %}
    <div>
        <ul class="collapsible expandable">
              <li>
                <div class="collapsible-header active" tabindex="0">
                  <i class="material-icons">arrow_forward</i>What's CUSTA?</div>
                <div class="collapsible-body" style="display: block">
                    <span></br>Definition: CUSTA = customised pasta recipe</br></br>
        We are passionate about delivering you the tastiest custom-made handcrafted pasta.</br></br>
        Our determination and focus has made us Glasgow's leading custom pasta brand.</br></br>
        Since the inauguration of our first store in Boyd Orr we have sold almost 1 million CUSTAs.
                  </span>
                </div>
              </li>
              <li class="active">
                <div class="collapsible-header active" tabindex="0">
                  <i class="material-icons">arrow_forward</i>The Power of CUSTAmising</div>
                <div class="collapsible-body" style="display: block">
                  <span>CUSTAmising has never been easier.</br></br>
        With thousands of possible ingredient combinations, the choice is yours
        - from preset to custom-made, from low-carb to desserts even!</br></br>
        Halal and Kosher CUSTAs included.</span>
                </div>
              </li>
              <li class="active">
                <div class="collapsible-header active" tabindex="0">
                  <i class="material-icons">arrow_forward</i>Get a CUSTA 101</div>
                <div class="collapsible-body" style="display: block">
                  <span>Want a new, special ingredient? - Send us an email and our CUSTA artisans will be on it.</br></br>
        In a hurry? - Get your order ready for pickup or directly delivered to your door by our couriers.</br></br>
                      So why not? Get a CUSTA!
                  </span>
                </div>
              </li>
            </ul>
    </div>

    <script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    </script>

{% endblock %}