<!DOCTYPE html>
{% load staticfiles %}

<!--base template is used for all other html templates to set a standard-->
<!--CSS-->
<!--custa css file is used in order to beautify the page-->
<link rel="stylesheet" type="text/css" href={% static 'css/custa.css' %}>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize css file for easy use of materialize framework-->
    <link href="{% static 'css/materialize_new_3_15.css' %}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <!--favicon added to distinguish in browser-->
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <title>
{#        title block for title of web pages#}
        {% block title_block %}
            CUSTA
        {% endblock %}
    </title>
</head>

<body>
<div class="parallax-container" id="parallax-1" style="height: 150px;">
    <!--create navbar for web pages of web application-->
    <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content dropdown">
            <li><a href="{% url "my-account" %}">My Account</a></li>
            <li><a href="{% url "order-history" %}">My Orders</a></li>
            <li class="divider"></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
        </ul>
        <nav class="nav" role="navigation">
            <div class="nav-wrapper container">
                <a href="{% url "index" %}"><img class="logo brand-logo"
                                                 src={% static 'assets/logo-nav.png' %} alt="logo"/></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li id="nav-index"><a id="index-link" class="active" href="{% url 'index' %}">Index</a></li>
                    <li id="nav-contact"><a id="contact-link" href="{% url 'contact' %}">Contact</a></li>
                    {# if user is not authenticated, some fields will be restricted from view - these are available upon login#}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'order' %}">Order</a></li>
                        <li id="nav-custamise"><a id="custamise-link" href="{% url 'custamise' %}">CUSTAmise</a></li>
                    {% else %}
                        <!--noticelogin creates a popup telling the user they should login, it also redirects user after 3 seconds-->
                        <li id="nav-order"><a href="javascript:void(0)"
                                              onclick="noticeLogin('{% url 'login' %}')">Order</a></li>
                        <li id="nav-custamise"><a id="custamise-link" href="javascript:void(0)" onclick="noticeLogin('{% url 'login' %}')">CUSTAmise</a>
                        </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li id="nav-username"><a class="dropdown-trigger" href="#!"
                                                 data-target="dropdown1">&nbsp;&nbsp;{{ user.username }}<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li id="nav-login"><a href="{% url 'login' %}">Login</a></li>
                        <li id="nav-register"><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <!--sidenav for mobile phone adaptation when not all elements of the webpage would be pleasantly visible-->
    <ul class="sidenav" id="mobile-demo">
        <li><a class="active" href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'order' %}">Order</a></li>
            <li><a href="{% url 'custamise' %}">CUSTAmise</a></li>
        {% else %}
            <li><a href="javascript:void(0)" onclick="noticeLogin({% url 'login' %})">Order</a></li>
            <li><a href="javascript:void(0)" onclick="noticeLogin({% url 'login' %})">CUSTAmise</a></li>
        {% endif %}

        {% if user.is_authenticated %}
            <li><a href="{% url "my-account" %}">{{ request.user.username }}</a></li>
            <li class="divider"></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>

    <div class="container center-align hide-on-med-and-down"><span class="hero-text">Your gateway to custom pasta</span>
    </div>
{#    block is only for homepage, but could be useful in the future for web app maintenance/extension#}
    {% block parallax1 %}
    {% endblock %}
    <div class="parallax"><img src="{% static "assets/pasta_background_1.jpg" %}"></div>
</div>

<!--introduce jquery into our webpage-->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<!--introduce javascript of materilize css into our webpage-->
<script src="{% static "js/materialize.js" %}"></script>
<div class="">
    <div class="container" id="base-container">
        <!--page content is placed here-->
        {% block body_block %}
        {% endblock %}
    </div>
</div>

{#    block is only for homepage, but could be useful in the future for web app maintenance/extension#}
{% block addition %}
{% endblock %}
<!-- introducing javascript for use in the web application - all javasript files are found in the static/js directory -->
<script src="{% static "js/base.js" %}"></script>
</body>

<!--web application footer for better user experince and further information presented to the user-->
<div class="footer-image hide-on-small-and-down" id="footer">
    <div class="container" style="color: whitesmoke">
        <div class="row" style="margin-bottom: 0px">
            <div class="col s4">
                <h5>CUSTA Glasgow</h5>
                <p>Email: contact@custa.com</p>
                <p>Tel: 0740 333 2111</p>
            </div>
            <div class="col s4">
                <p><STRONG>Opening Hours:</STRONG></p>
                <p>Mon - Fri 9 AM - 11 PM</p>
                <p>Sat - Sun 10 AM - 11 PM</p>
            </div>
            <div class="col s4">
                {% if user.is_authenticated %}
                    <p>You are signed in as {{ request.user.username }}.</p>
                {% endif %}<br>
                <p>Copyright - Team FalconX</p>
            </div>
        </div>
    </div>
</div>

</html>