<!DOCTYPE html>
{% extends 'custa/base.html' %}
{% load staticfiles %}
{% block title_block %}
{% endblock %}

<html>
    {% block body_block %}
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 400px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>


    <div id="map" style="float: initial">

    </div>
            <div><b>Contact Details</b></br>
        Email: contact@custa.com</br>
        Phone: 0740 333 2111</br>
        Social Media: https://www.facebook.com/custa/
            </div>
        <div></br><b>Opening Hours:</b></br>
            Mon - Fri 9 AM - 11 PM</br>
            Sat - Sun 10 AM - 11 PM
            </div>
    <script>

      function initMap() {
        var myLatLng = {lat: 55.873706, lng: -4.292585};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'CUSTA'
        });

        var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBcAFDmXVrfK9dv4TmJYrKsJyziKh50jQ&callback=initMap">
    </script>
{% endblock %}
</html>