<!DOCTYPE html>
{% extends 'custa/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Contact Us
{% endblock %}

<html>
{% block body_block %}

    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel hoverable">
                <h3>Contact Details</h3>
                <span class="medium-font">Email: contact@custa.com<br>
                    Phone: 0740 333 2111<br>
                Social Media: https://www.facebook.com/custa/<br></span>
            </div>
            <br>

            <div class="card-panel hoverable">
                <br>
                <h3>Opening Hours:</h3><br>
                <span class="medium-font">Mon - Fri 9 AM - 11 PM<br>
                    Sat - Sun 10 AM - 11 PM</span>
            </div>
            <br>
            <div class="card-panel hoverable">
                <div class="center-align"><span class="big-font">Require new ingeredients?</span></div>
                <br>
                <div class="center-align">
                    <a class="btn-large waves-effect modal-trigger" href="#modal1">Submit Requirements</a>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <div class="card-panel hoverable">
                <h5>Loation</h5>
                <div id="map" style="float: initial">
                </div>
            </div>
        </div>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Submit Your Requirement</h4>
            {% if user.is_authenticated%}
                <form id="req_form" method="post" action="{% url "contact" %}">
                {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">wb_incandescent</i>
                    <input type="text" name="description" id="id_description" value="" size="50"/>
                    <label for="id_description">description</label>
                </div>
                <div class="center-align"><button class="btn-large waves-effect">Submit</button> </div>
            </form>
                {% else %}
                <i class="material-icons" style="font-size: 10rem; color: red;">sms_failed</i>
                <h5>Sorry, you need to <a class="btn-flat medium-font" href="{% url "login" %}">login</a> first.</h5>
            {% endif %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-large btn-flat">Close</a>
        </div>
    </div>
    <script src="{% static "js/gmaps.js" %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBcAFDmXVrfK9dv4TmJYrKsJyziKh50jQ&callback=initMap">
    </script>
{% endblock %}
</html>