{% extends 'custa/base.html' %}
{% load staticfiles %}

{% block title_block %}
    CUSTAmise
{% endblock %}

{#custamise contains three collapsible elements, each corresponding to a specific ingredient (base, sauce, top) as well as an input field for naming the custa#}
{% block body_block %}
    <h2>CUSTAmise</h2>
    <form id="custa_form" method="POST" action="{% url 'custamise' %}">
        {% csrf_token %}
            <ul class="collapsible popout">
                <li class="active">
                    <div class="collapsible-header" tabindex="0"><span class="medium-font">Base</span></div>
                    <div class="collapsible-body">
                        <div id="id_base">
                            <ul class="collection collection-scrolled hoverable">
                                {% for base in bases %}
                                    <li class="collection-item"><input type="radio" name="base" value="{{ base.id }}"
                                                                       required
                                                                       id="id_base_{{ base.id }}"
                                                                       onclick="calcTotal()">
                                        <label for="id_base_{{ base.id }}">
                                            {{ base.name }} &emsp;<span class="price">{{ base.price }}</span>
                                        </label></li>

                                {% endfor %}
                            </ul>
                            <div class="row">
                                <div style="padding-top: 17px; margin-left: 46%">
                                    <button class="btn-large waves-effect waves-light" type="button"
                                            onclick="nextSection(0)">Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" tabindex="0"><span class="medium-font">Sauce</span></div>
                    <div class="collapsible-body">
                        <div id="id_sauce">
                            <ul class="collection collection-scrolled hoverable">
                                {% for sauce in sauces %}
                                    <li class="collection-item"><input type="radio" name="sauce" value="{{ sauce.id }}"
                                                                       required
                                                                       id="id_sauce_{{ sauce.id }}"
                                                                       onclick="calcTotal()">
                                        <label for="id_sauce_{{ sauce.id }}">
                                            {{ sauce.name }} &emsp;<span class="price">{{ sauce.price }}</span>
                                        </label></li>
                                {% endfor %}
                            </ul>
                            <div class="row">
                                <div style="padding-top: 17px; margin-left: 46%">
                                    <button class="btn-large waves-effect waves-light" type="button"
                                            onclick="nextSection(1)">Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" tabindex="0"><span class="medium-font">Top</span></div>
                    <div class="collapsible-body">
                        <div id="id_top">
                            <ul class="collection collection-scrolled hoverable">
                                {% for top in tops %}
                                    <li class="collection-item"><input type="radio" name="top" value="{{ top.id }}"
                                                                       required
                                                                       id="id_top_{{ top.id }}"
                                                                       onclick="calcTotal()">
                                        <label for="id_top_{{ top.id }}">
                                            {{ top.name }} &emsp;<span class="price">{{ top.price }}</span>
                                        </label></li>
                                {% endfor %}

                            </ul>
                            <div class="row">
                                <div style="padding-top: 17px; margin-left: 46%">
                                    <a class="btn-large waves-effect waves-light"
                                            onclick="nextSection(2)" href="#namecusta">Next
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        <div class="row">
            <div id="id_tags" style="padding-bottom: 10px"></div>
            <div class="input-field" id="#namecusta">
                <input type="text" name="name" maxlength="128" required id="id_name" class="validate">
                <label for="id_name">Name your CUSTA!</label>
            </div>
            <div>
                <input style="display: none" type="number" name="price" required id="id_price" readonly>
                <h5 id="price_label">Price: £ 0.00</h5>
            </div>
            <button class="btn-large waves-effect waves-light">create</button>
        </div>
    </form>
    <script src="{% static "js/custamise.js" %}"></script>
    <!--inevitable inline javascript due to django setup - since javascript file can't be rendered as a template-->
    <script>
        var baseList = {{ bases_list|safe }};
        var sauceList = {{ sauces_list|safe }};
        var topList = {{ tops_list|safe }};
    </script>
{% endblock %}