<!DOCTYPE html>
{% extends 'custa/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}

{% block parallax1 %}

    <div class="row order-now">
        <div class="container">
            <div class="col s7 m8 l10">
                <h2 class="white-text hide-on-med-and-down">Go CUSTAmise your life!</h2>
            </div>
            <div class="col s5 m4 l2">
                {% if user.is_authenticated %}
                <a class="btn-floating waves-effect waves-light pulse order-button green darken-3"
                   onclick="window.location.replace('{% url 'order' %}')"><div class="order-now-button-div center-align">Order Now</div></a>
                   {% else %}
                       <a class="btn-floating waves-effect waves-light pulse order-button green darken-3"
                   onclick="noticeLogin('{% url 'login' %}')"><div class="order-now-button-div center-align">Order Now</div></a>
                   {% endif %}


            </div>
        </div>
    </div>
{% endblock %}

{% block body_block %}
    <div class="row" style="padding-top: 25px">
        <div class="col l4 m12 s12">
            <div class="card">
                <div class="card-image">
                    <img class="cardimg" src="{% static "assets/custa-card1.jpg" %}">
                    <span class="card-title hero-text">What's CUSTA?</span>
                </div>
                <div class="card-content">
                    CUSTA = customised pasta recipe<br>
                    We are passionate about delivering you the tastiest custom-made handcrafted pasta.
                    Our determination and focus has made us Glasgow's leading custom pasta brand.<br>
                    Since the inauguration of our first store in Boyd Orr we have sold almost 1 million CUSTAs.
                </div>
            </div>
        </div>
        <div class="col l4 m12 s12">
            <div class="card">
                <div class="card-image">
                    <img class="cardimg" src="{% static "assets/custa-card2.jpg" %}">
                    <span class="card-title hero-text">Power of CUSTAmising</span>
                </div>
                <div class="card-content">
                    CUSTAmising has never been easier.<br>
                    With thousands of possible ingredient combinations, the choice is yours
                    - from preset to custom-made, from low-carb to desserts even!<br>
                    Halal and Kosher CUSTAs included.<br><br><br>
                </div>
            </div>
        </div>
        <div class="col l4 m12 s12">
            <div class="card">
                <div class="card-image">
                    <img class="cardimg" src="{% static "assets/custa-card3.jpg" %}">
                    <span class="card-title hero-text">Get a CUSTA 101</span>
                </div>
                <div class="card-content">
                    Want a new, special ingredient? - Send us an email and our CUSTA artisans will be on it.<br>
                    In a hurry? - Get your order ready for pickup or directly delivered to your door by our
                    couriers.<br>
                    So why not? Get a CUSTA!<br><br><br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block addition %}
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <span class="hero-text" style="font-size: 2.5rem">Eat Healthily - We promise to provide quality food with organic ingredients.</span>
            </div>
        </div>
        <div class="parallax"><img src="{% static "assets/pasta_background_2.jpg" %}" alt="Unsplashed background img 2">
        </div>
    </div>
{% endblock %}