{% extends 'custa/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{#login page as per standard django procedure#}
{% block body_block %}
<h1>LOGIN</h1>
<form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="card-panel">
        <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input type="text" name="username" id="id_username" value="" size="50"/>
            <label for="id_username">Username</label>
        </div>

        <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" name="password" id="id_password" value="" size="50"/>
            <label for="id_password">Password</label>
        </div>
        <div class="center-align">
            <a href="{% url 'register' %}" class="btn-large btn-flat waves-effect">Register</a>
            <button class="btn-large waves-effect">Login</button></div>
    </div>
</form>
{% endblock %}