{% extends 'custa/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Order
{% endblock %}

{% block body_block %}
    {#    <h1>Order</h1>#}
    {#    <div>#}
    {#    {% for custa in custa_list %}#}
    {#        <p>{{ custa.name }}</p>#}
    {#    {% endfor %}#}
    {##}
    {#    </div>#}
    {#    <ul class="collection with-header">#}
    {#        <li class="collection-header"><h4>Your CUSTAs</h4></li>#}
    {#        {% for custa in custa_list %}#}
    {#            <li class="collection-item">#}
    {#                #}
    {#            </li>#}
    {#        {% endfor %}#}
    {##}
    {#    </ul>#}
    <table class="highlight centered striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Base</th>
            <th>Sauce</th>
            <th>Top</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        {% for custa in custa_list %}
            <tr>
                <td id="custa_{{ custa.id }}_name">{{ custa.name }}</td>
                <td>{{ custa.base.name }}</td>
                <td>{{ custa.sauce.name }}</td>
                <td>{{ custa.top.name }}</td>
                <td><span id="id_custa_{{ custa.id }}_price"></span></td>
                <script>
                    $("#id_custa_{{ custa.id }}_price").text("£" + ({{ custa.price }}) / 100);
                </script>
                <td>
                    <a class="btn-floating waves-effect btn-small waves-light red" style="z-index: 0"><i class="material-icons"
                                                                                      onclick="decrease('id_custa_{{ custa.id }}_quantity')">remove</i></a>
                    <input name="quantity" type="text" style="width: 50px; text-align: center;font-size: 28px"
                           id="id_custa_{{ custa.id }}_quantity" readonly value="0">
                    <a class="btn-floating waves-effect btn-small waves-light red" style="z-index: 0"><i class="material-icons"
                                                                                      onclick="increase('id_custa_{{ custa.id }}_quantity')">add</i></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% csrf_token %}
    <div id="modal1" class="modal" style="max-height: 90%">
        <div class="modal-content" id="modal1_content">
            <h4>Confirm Your Order</h4>
            <h5>Order Details</h5>
            <div class="card-panel">
                <table class="highlight striped" style="overflow-y: scroll;max-height: 830px;">
                        <thead>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        </thead>
                        <tbody id="order_details"></tbody>
                    </table>
                <div id="total_in_confirm_page" style="text-align: right"></div>
            </div>
        </div>
        <div class="modal-footer" id="modal_footer">
            <button onclick="checkout()" class="btn-large waves-effect" style="right: 20px">Checkout</button>
        </div>
    </div>
    <div class="col hide-on-small-only m3 xl3 offset-xl1">
        <div class="toc-wrapper pinned" style="top: 20%;right: 0%">
            <div class="card-panel hoverable" style="background-color: #f1f1f1">
                <div class="switch center-align">
                    <label style="font-size: 1.5rem">
                        Pickup
                        <input type="checkbox" id="id_is_delivery" onclick="update()">
                        <span class="lever"></span>
                        Delivery
                    </label>
                </div>
                <div>
                    <br>
                    <table class="highlight centered" style="overflow-y: scroll;display: list-item;max-height: 430px;min-height: 200px">
                        <thead>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        </thead>
                        <tbody id="cart"></tbody>
                    </table>
                </div>
                <div><h5 id="total_price" style="text-align: right">Total: £0.00</h5></div>
                <div class="center-align">
                    <br>
                    <a class="waves-effect waves-light btn-large modal-trigger" href="#modal1" id="goto_checkout" disabled>Go To Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static "js/order.js" %}"></script>
{% endblock %}