{% extends 'custa/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Order
{% endblock %}

{#enables choosing more custas and ordering them for pickup or delivery#}
{% block body_block %}
    <table class="highlight centered striped responsive-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Base</th>
            <th>Sauce</th>
            <th>Top</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        {% for custa in custa_list %}
            <tr>
                <td id="custa_{{ custa.id }}_name"><div style="height: 50px; display: contents">{{ custa.name }}</div></td>
                <td><div style="height: 50px; display: contents">{{ custa.base.name }}</div></td>
                <td><div style="height: 50px; display: contents">{{ custa.sauce.name }}</div></td>
                <td><div style="height: 50px; display: contents">{{ custa.top.name }}</div></td>
                <td><div style="height: 50px; display: contents"><span style="font-size: 1.6rem" id="id_custa_{{ custa.id }}_price"></span></div></td>
                <script>
                    $("#id_custa_{{ custa.id }}_price").text("£" + ({{ custa.price }}) / 100);
                </script>
                <td style="min-width: 160px">
                    <div style="height: 50px; display: contents"><a class="btn-floating  btn-small waves-effect red" style="z-index: 0"><i
                            class="material-icons"
                            onclick="decrease('id_custa_{{ custa.id }}_quantity')">remove</i></a>
                        <span class="medium-font"
                              id="id_custa_{{ custa.id }}_quantity">0</span>
                        <a class="btn-floating waves-effect btn-small waves-light red" style="z-index: 0"><i
                                class="material-icons"
                                onclick="increase('id_custa_{{ custa.id }}_quantity')">add</i></a></div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% csrf_token %}
    <div class="show-on-small hide-on-large-only" style="display: grid">
        <div class="switch center-align" style="zoom: 160%; padding: 10px"><label style="font-size: 1.5rem">
            Pickup
            <input type="checkbox" id="id_is_delivery_mobile" onclick="syncSwitch(2)">
            <span class="lever"></span>
            Delivery
        </label></div>
        <div class="center-align">
            <a class="btn-large waves-effect waves-light modal-trigger" style="zoom: 150%" href="#modal1" disabled
              id="goto_checkout_mobile">Go To Checkout</a>
        </div>
    </div>
    <div id="modal1" class="modal" style="max-height: 90%">
        <div class="modal-content" id="modal1_content">
            <h4>Confirm Your Order</h4>
            <h5>Order Details</h5>
            <div class="card-panel">
                <table class="highlight" style="overflow-y: scroll;max-height: 830px;">
                    <thead>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    </thead>
                    <tbody id="order_details"></tbody>
                </table>
                <div id="total_in_confirm_page" style="text-align: right"></div>
            </div>
        </div>
        <div class="modal-footer" id="modal_footer">
            <button onclick="checkout()" class="btn-large waves-effect" style="right: 20px">Checkout</button>
        </div>
    </div>
    <div class="col hide-on-small-only m3 xl3 offset-xl1">
        <div class="toc-wrapper pinned" style="top: 20%;right: 0%">
            <div class="card-panel hoverable hide-on-med-and-down cart-panel" id="cart_panel">
                <div class="switch center-align" style="zoom: 145%">
                    <label style="font-size: 1.5rem">
                        Pickup
                        <input type="checkbox" id="id_is_delivery" onclick="syncSwitch(1)">
                        <span class="lever"></span>
                        Delivery
                    </label>
                </div>
                <div>
                    <br>
                    <table class="highlight centered"
                           style="overflow-y: scroll;display: list-item;max-height: 430px;min-height: 200px">
                        <thead>
                        <th style="min-width: 160px">Name</th>
                        <th >Price</th>
                        <th>Quantity</th>
                        </thead>
                        <tbody id="cart"></tbody>
                    </table>
                </div>
                <div><h5 id="total_price" style="text-align: right">Total: £0.00</h5></div>
                <div class="center-align">
                    <br>
                    <a class="waves-effect waves-light btn-large modal-trigger" href="#modal1" id="goto_checkout"
                       disabled>Go To Checkout</a>
                </div>
            </div>
			<div class="fixed-action-btn">
			<a class="btn-large waves-effect show-on-large-only hide-on-med-and-down" onclick="hideOrShow()">
				<i class="large material-icons">sync</i>
				Show/Hide
			</a>
		</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static "js/order.js" %}"></script>
{% endblock %}