{% extends 'custa/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>REGISTER</h1>
    {% if registered %}
        YOU ARE REGISTERED.
        <a href="{% url 'about' %}">Return to the homepage.</a><br />
    {% else %}
        REGISTER HERE:
        <form id="user_form" method="post" action="{% url 'register' %}"
            enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}